
.pageItemClass{
    border: 1px solid rgb(219, 2, 2);
    transition: .3s ease-in-out;

    padding: 4px 12px 6px 12px;
    cursor: pointer;
}
.pageItemClass:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.pageItemClass:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.pageLinkClass{
    list-style: none;
    text-decoration: none;
    color: red;
    font-size: 1.5vmax;
}

.pageItemClass:hover{
    background-color: rgba(219, 2, 2, 0.63);
}

.pageItemActive{
    background-color:rgb(219, 2, 2);
}
.pageLinkActive{
    color: white;
}
.pageItemClass:hover .pageLinkClass{
    color: white;
}

.filterTypes.catEffect{
    background-color: red;
}
.li{
    background-color: tomato;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.li.active::before{
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 20px 19px 0 5px white;
    top:-2rem;
    right: 0;
}
.li.active::after{
    content: "";
    width: 2rem;
    height: 2rem;
    position: absolute;
    border-radius: 50%;
    box-shadow: 20px -19px 0 5px white;
    background-color: transparent;
    top:2rem;
    right: 0;
}
/* .li, */
.li.active{
    background-color: white;
    color: tomato;
}

@media only screen and (max-width: 700px){
    
.pageItemClass{
    
    /* border: 1px solid rgb(219, 2, 2); */
    transition: .3s ease-in-out;
    padding: 2px 5px  5px 5px;
    cursor: pointer;
}
    .pageLinkClass{
        list-style: none;
        text-decoration: none;
        color: red;
        font-size: 1.5vmax;
    }
    .pageItemClass:hover{
        background-color: rgba(219, 2, 2, 0.63);
    }
    
    .pageItemActive{
        background-color:rgb(219, 2, 2);
    }
    .pageLinkActive{
        color: white;
    }
    .pageItemClass:hover .pageLinkClass{
        color: white;
    }
}