
.social-btn-container{
    width: 6rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 11;
    top: 30%;
    right: -4.8rem;
}
.social-btn {
    transition: .7s ease-in-out;
    margin-top: 1px;
    background: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
    border: none;
}
.social-btn-icon{
    width: 1rem;
    fill: blue;
    margin-top: 3px;
}
.social-btn a {
    margin-left: 3px;
    float: left;
}


.social-btn:hover {
    transform: translateX(-82%);
}